<nav class="navbar navbar-default navbar-bottom" role="navigation">
  <div class="container">
    <p>
      Copyright &copy; 2015
      <%= link_to 'Stephenson Consulting', 'http://www.scc-i.com' %>
    </p>
  </div>
</nav>